<div class="index-container">

  <div class="banner px-5">
    <div class="banner-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/dvds-couch.jpg);">
      <div class="page-title">
        <h1>Cinema Library</h1>
        <p>Make your own movie selection</p>
      </div>
    </div>
  </div>

  <div class="card-area">
    <h1>Your selection



    </h1>
    <div class="card-container">
      <% @lists.each do |list| %>
        <div class="card-index" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("chicago.jpg") %>)">
          <%= link_to '', list_path(list), class: "card-index-link" %>
          <h3><%= list.name  %></h3>

        </div>
      <% end %>
    </div>

    <%= link_to 'create a selection', new_list_path, class: "btn btn-list mt-5"  %>

  </div>
</div>



