<div class="container">
  <h1>Delete a bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, as: :select %>
    <%= f.input :comment %>
    <%= f.submit 'Create Bookmark', class: 'btn btn-success' %>
  <% end %>
</div>
