.banner {
    display: flex;
    height: 680px;
    background-color: #2e1f1f

}

.banner-img {
  align-items: center;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    width: 510px;

}
