.btn-list {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: lighter;
  opacity: 0.5;

}

.btn-list:hover {
      opacity: 0.5;
      color: #5f4848;
      background-color: white;
    }
